
@{
    ViewData["Title"] = "Test";
}

<script src="~/js/app.js"></script>

<h1>Test</h1>

<button onclick="findNameOfTallestMountain()">Tallest Mountain</button>
<br />
<br />
<button onclick="calcAverageProductPrice()">Find Avg Price</button>
<br />
<br />
<button onclick="calcInventoryValue()">Inventory Value</button>
